:root {
	--text-border-color: #b5b6b5;
	--text-border-color2: #999;
	--text-push-left: -9999px;
	--text-blue: #3951ad;
	--text-red: #ad2821;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
}
body.subpage {
	background-image: url("/images/GRB_bkgnd.jpg");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

/* HEADERS */
h1 {
	display: block;
	border-bottom: 2px groove var(--text-border-color2);
	border-left: 2px ridge var(--text-border-color2);
	border-right: 2px groove var(--text-border-color2);
	border-top: 2px ridge var(--text-border-color2);
	border-radius: 12px;
	height: 81px;
	margin: 16px auto 1px auto;
	overflow: hidden;
	width: 766px;
}
.home h1 {
	background: url("/images/subpageheader_new.png") 0px 0px no-repeat;
	text-indent: var(--text-push-left);
}
.subpage h1 a {
	background: url("/images/subpageheader_new.png") 0px 0px no-repeat;
	display: block;
	height: 81px;
	overflow: hidden;
	text-indent: var(--text-push-left);
	width: 766px;
}

h2 {
	margin: 0px 0px 20px 23px;
	display: block;
	overflow: hidden;
	height: 38px;
	background: none;
	text-indent: var(--text-push-left);
	width: 100%;
}
h2#nav1_active {
	background: url("/images/subtitle_true_love.gif") 0px 0px no-repeat;
}
h2#nav2_active {
	background: url("/images/subtitle_memories.gif") 0px 0px no-repeat;
}
h2#nav3_active {
	background: url("/images/subtitle_rumor.gif") 0px 0px no-repeat;
}
h2#nav4_active {
	background: url("/images/subtitle_live_flesh.gif") 0px 0px no-repeat;
}
h2#nav5_active {
	background: url("/images/subtitle_first_touch.gif") 0px 0px no-repeat;
}
h2#nav6_active {
	background: url("/images/subtitle_flowers.gif") 0px 0px no-repeat;
}
h2#nav9_active {
	background: url("/images/subtitle_spirit.gif") 0px 0px no-repeat;
}
h2#nav10_active {
	background: url("/images/subtitle_pillow.gif") 0px 0px no-repeat;
}


/* NAVIGATION */
.home #navigation {
	background: url("/images/heartbackground_new.jpg") 177px 0px no-repeat;
	display: flex;
	flex-flow: row nowrap;
	height: 590px;
	margin: 30px auto 0px auto;
	width: 900px;
}

.home #navigation ul {
	height: 590px;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	width: 450px;
}

#navigation ul li {
	color: var(--text-border-color);
	font-weight: 400;
	letter-spacing: .25px;
}
#navigation ul li a {
	color: var(--text-red);
	text-decoration: none;
}
#navigation ul li.active {
	color: var(--text-blue);
}

#navigation ul li a:hover,
#navigation ul li a:active {
	color: var(--text-blue);
}
#navigation ul li a.external {
	color: var(--text-blue);
}
#navigation ul li a.external:hover,
#navigation ul li a.external:active {
	color: var(--text-red);
}

.home #navigation ul li {
	display: block;
	position: absolute;
}


/* HOME NAVIGATION LEFT SIDE */
.home #navigation ul li#nav1 {
	right: 161px;
	top: 46px;
}

.home #navigation ul li#nav2 {
	right: 200px;
	top: 112px;
}

.home #navigation ul li#nav3 {
	right: 223px;
	top: 176px;
	top: 176.5px;
}

.home #navigation ul li#nav4 {
	right: 259px;
	top: 248px;
	top: 247.5px;
}

.home #navigation ul li#nav5 {
	right: 264px;
	top: 314px;
}

.home #navigation ul li#nav6 {
	right: 237px;
	top: 378px;
	top: 377.5px;
}

.home #navigation ul li#nav7 {
	right: 221px;
	top: 444px;
}

.home #navigation ul li#nav8 {
	right: 174px;
	top: 504px;
	top: 504.5px;
}

/* HOME NAVIGATION RIGHT SIDE */
.home #navigation ul li#nav9 {
	left: 218px;
	top: 47px;
}

.home #navigation ul li#nav10 {
	left: 195px;
	top: 112px;
}

.home #navigation ul li#nav11 {
	left: 217px;
	top: 178px;
}

.home #navigation ul li#nav12 {
	left: 259px;
	top: 248px;
}

.home #navigation ul li#nav13 {
	left: 225px;
	top: 313px;
}

.home #navigation ul li#nav14 {
	left: 244px;
	top: 380px;
	top: 380.5px;
}

.home #navigation ul li#nav15 {
	left: 218px;
	top: 444px;
}

.home #navigation ul li#nav16 {
	left: 222px;
	top: 507px;
}

/* SUBPAGE NAVIGATION */
.subpage #navigation {
	background-color: #000;
	border-bottom: 2px groove var(--text-border-color2);
	border-left: 2px ridge var(--text-border-color2);
	border-right: 2px groove var(--text-border-color2);
	border-top: 2px ridge var(--text-border-color2);
	border-radius: 12px;
	margin: 0 16px 0 0;
	padding: 14px 0px 5px 0px;
	text-align: right;
	width: 181px;
}

.subpage #navigation ul {
	list-style-position: outside;
	list-style-type: none;
	margin-right: 14px;
}

.subpage #navigation ul li {
	font-size: 12px;
	letter-spacing: 0.04em;
	margin-bottom: 8px;
}

.subpage #navigation ul li#nav11,
.subpage #navigation ul li#nav12,
.subpage #navigation ul li#nav13 {
	display: inline-block;
	padding-bottom: 2px;
	padding-top: 1px;
}

/* SUBPAGE */
.subpage #container {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	margin: 15px auto 0px auto;
	width: 770px;
}

#content {
	border-bottom: 2px groove var(--text-border-color2);
	border-left: 2px ridge var(--text-border-color2);
	border-right: 2px groove var(--text-border-color2);
	border-top: 2px ridge var(--text-border-color2);
	border-radius: 12px;
	color: var(--text-border-color);
	display: flex;
	flex-flow: row wrap;
	font-size: 11px;
	justify-content: space-between;
	padding: 14px 0px 18px 0px;
	width: 570px;
}
#content p {
	line-height: 16px;
	padding: 0px 40px 0px 30px;
	width: 100%;
}
#content h3 {
	color: var(--text-border-color);
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	padding: 0px 40px 0px 30px;
}
#content p a:link,
#content p a:visited {
	color: #faf4f4;
	text-decoration: none;
	font-weight: normal;
}
#content p a:active, 
#content p a:hover {
	color: var(--text-border-color);
	text-decoration: underline;
}


/* SPECIFIC SUBPAGE RULES */
#content ul {
	display: block;
	list-style-position: outside;
	list-style-type: none;
	padding: 2px 0px 20px 10px;
}
#content ul li {
	padding: 1px 0px 2px 0px;
}
#content ul li a:link,
#content ul li a:visited {
	color: #faf4f4;
	font-weight: normal;
	text-decoration: none;
}
#content ul li a:active, 
#content ul li a:hover {
	color: var(--text-border-color);
	text-decoration: underline;
}
#content .left_panel {
	width: 51%;
}
#content .left_panel p {
	padding-right: 0px;
}
#content .left_panel p img {
	padding-top: 3px;
}
#content .right_panel {
	width: 42%;
}
#content .right_panel p {
	padding: 0px 0px 0px 10px;
	margin: 0;
}
#content .right_panel h3 {
	padding-left: 10px;
}

/*
@media only screen and (max-width: 1000px) and (orientation: landscape) {
*/

@media only screen and (max-width: 1000px) {
	body {
		background-color: #000;
		font-size: 12px;
	}
	body.subpage {
		background-position: top center;
		background-repeat: no-repeat;
	}
	h1 {
		background: none;
		border-left: none;
		border-radius: 0;
		border-right: none;
		border-top: none;
		color: var(--text-border-color);
		height: auto;
		margin: 2% 3%;
		padding: 2%;
		width: 90%;
	}
	.home h1 {
		background: none;
		text-align: center;
		text-indent: initial;
	}
	.subpage h1 {
		margin-bottom: 0;
	}
	.subpage h1 a {
		background: none;
		color: var(--text-border-color);
		display: block;
		height: auto;
		text-align: center;
		text-decoration: none;
		text-indent: initial;
		width: 100%;
	}

	.home #navigation {
		background-position: top center;
		height: initial;
		margin: 0;
		width: 100%;
	}

	.home #navigation ul {
		background-color: rgba(0, 0, 0, 0.55);
		height: 560px;
		overflow: visible;
	}
	.home #navigation ul.left {
		width: 56%;
	}
	.home #navigation ul.right {
		width: 44%;
	}

	#navigation ul li a {
		background-color: #000;
		padding: 5px 12px 4px 12px;
		border-radius: 10px;
		border: 1px solid;
	}

	/* HOME NAVIGATION LEFT SIDE */
	.home #navigation ul li#nav1, 
	.home #navigation ul li#nav2, 
	.home #navigation ul li#nav3, 
	.home #navigation ul li#nav4, 
	.home #navigation ul li#nav5, 
	.home #navigation ul li#nav6, 
	.home #navigation ul li#nav7, 
	.home #navigation ul li#nav8 {
		right: 2vw;
	}
	.home #navigation ul li#nav1 {
		top: 44px;
	}
	.home #navigation ul li#nav2 {
		top: 102px;
	}
	.home #navigation ul li#nav3 {
		top: 156px;
	}
	.home #navigation ul li#nav4 {
		top: 210px;
	}
	.home #navigation ul li#nav5 {
		top: 264px;
	}
	.home #navigation ul li#nav6 {
		top: 318px;
	}
	.home #navigation ul li#nav7 {
		top: 372px;
	}
	.home #navigation ul li#nav8 {
		top: 428px;
	}

	/* HOME NAVIGATION RIGHT SIDE */
	.home #navigation ul li#nav9, 
	.home #navigation ul li#nav10, 
	.home #navigation ul li#nav11, 
	.home #navigation ul li#nav12, 
	.home #navigation ul li#nav13, 
	.home #navigation ul li#nav14, 
	.home #navigation ul li#nav15, 
	.home #navigation ul li#nav16 {
		left: 2vw;
	}
	.home #navigation ul li#nav9 {
		top: 74px;
	}
	.home #navigation ul li#nav10 {
		top: 129px;
	}
	.home #navigation ul li#nav11 {
		top: 172px;
	}
	.home #navigation ul li#nav11, 
	.home #navigation ul li#nav12, 
	.home #navigation ul li#nav13 {
		background-color: #000;
		font-weight: 600;
		padding: 5px 12px 4px 12px;
		border-radius: 10px;
	}
	.home #navigation ul li#nav12 {
		top: 205px;
	}
	.home #navigation ul li#nav13 {
		top: 238px;
	}
	.home #navigation ul li#nav14 {
		top: 291px;
	}
	.home #navigation ul li#nav15 {
		top: 345px;
	}
	.home #navigation ul li#nav16 {
		top: 399px;
	}

	/* SUBPAGE NAVIGATION */
	.subpage #navigation {
		background-color: transparent;
		border: none;
		display: block;
		text-align: center;
		width: 100%;
	}

	.subpage #navigation ul {
		display: inline;
		margin: 0;
	}

	.subpage #navigation ul li {
		display: inline-block;
	}

	.subpage #navigation ul li a {
		background: transparent;
		border: none;
	}

	.subpage #navigation ul li a,
	.subpage #navigation ul li.active {
		padding-left: 0;
		padding-right: 0;
		margin-left: 10px;
		margin-right: 10px;
	}

	.subpage #navigation ul li#nav11,
	.subpage #navigation ul li#nav12,
	.subpage #navigation ul li#nav13 {
		display: inline-block;
		padding-bottom: 2px;
		padding-top: 1px;
	}
	.subpage #navigation ul li#nav11 {
		margin-left: 10px;
	}
	.subpage #navigation ul li#nav13 {
		margin-right: 10px;
	}

	/* SUBPAGE */
	h2 {
		color: var(--text-red);
		font-size: 30px;
		font-weight: 400;
		height: auto;
		letter-spacing: 1.5px;
		margin-left: 29px;
		overflow: visible;
		text-indent: initial;
		width: 100%;
	}
	h2#nav1_active, 
	h2#nav2_active, 
	h2#nav3_active, 
	h2#nav4_active, 
	h2#nav5_active, 
	h2#nav6_active, 
	h2#nav7_active, 
	h2#nav8_active, 
	h2#nav9_active, 
	h2#nav10_active, 
	h2#nav11_active, 
	h2#nav12_active, 
	h2#nav13_active, 
	h2#nav14_active, 
	h2#nav15_active, 
	h2#nav16_active {
		background: transparent;
	}
	.subpage #container {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		margin: 0px auto 6px auto;
		width: 90%;
	}
	#content {
		border: none;
		color: var(--text-border-color);
		display: flex;
		flex-flow: row wrap;
		font-size: 11px;
		justify-content: space-between;
		padding: 14px 0px 18px 0px;
		width: 90%;
	}

	#content .left_panel {
		width: 100%;
	}
	#content .right_panel {
		width: 100%;
	}
	#content .right_panel h3,
	#content .right_panel p {
		padding-left: 0;
	}


}
/* END */